<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification with CIFAR-10</title>
</head>
<body>
    <h1>Upload an image to classify</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    {% if filename %}
        <h2>Predicted Class: {{ predicted_class }}</h2>
        <img src="{{ url_for('uploaded_file', filename=filename) }}" alt="Uploaded Image">
    {% endif %}
</body>
</html>
